<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <title>Semana do HTML e CSS</title>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <section class="first">
            <div class="content-area">
                <img src="/images/html-css-logo.png" alt="Logo do html e css">

                <div class="conteudo-chamada">
                    <h1>Sua Inscrição foi realizada com sucesso!</h1>

                    <h2 class="subtitle">
                    Meus parabéns pela iniciativa, fique de olho no seu 
                    e-mail e WhatsApp para ficar por dentro das novidades
                    </h2>

                    <h2 class="chamada">
                        Nossa semana do HTML e CSS começa no dia 15/08,
                        já deixa anotado na agenda!
                    </h2>
                </div>
            </div>
        </section>

        <section class="second">
            <div class="disclaimer-header">
                <h2>O que é a semana do HTML e CSS?</h2>
            </div>
        </section>

        <section class="third">
            <div class="disclaimer-content">
                <div class="container-paragrafos">
                    <div class="paragrafos">
                        <p class="primeiro-paragrafo">
                            A Semana do HTML e CSS é uma iniciativa do Grupo Barbosa e Cia. onde durante
                            uma semana inteira, iremos desenvolver junto a você 5 projetos utilizando
                            HTML e CSS, ensinando desde as bases dessas tecnologias, até coisas mais avançadas,
                            para que você possa iniciar sua carreira na tecnologia já tendo alguns projetos em
                            seu portifólio.
                        </p>

                        <p class="segundo-paragrafo">
                            E o melhor de tudo! Tudo isso de forma GRATUITA!
                        </p>
                    </div>
                </div>

                <img src="/images/imagem2.jpg" alt="Código html">
            </div>
        </section>
    </div>
</body>
</html>