<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <title>Semana do HTML e CSS</title>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <section class="first">
            <div class="content-area">
                <img src="/images/html-css-logo.png" alt="Logo do html e css">

                <div class="conteudo-chamada">
                    <h1>Semana do HTML e CSS</h1>

                    <h2 class="subtitle">As inscrições para a semana do HTML e CSS estão abertas.</h2>

                    <h2 class="chamada">Inscreva-se até 08/08/2022 e garanta a sua vaga.</h2>

                    <div class="formulario">
                        <form method="POST" action="confirmacao">
                            <div class="input-block">
                                <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
                            </div>

                            <div class="input-block">
                                <input type="email" id="email" name="email" placeholder="Digite seu melhor e-mail" required>
                            </div>

                            <div class="input-block">
                                <input type="tel" id="whatsapp" name="whatsapp" placeholder="Digite seu Whatsapp">
                            </div>

                            <div class="input-block">
                                <span>
                                    <input type="checkbox" id="lgpd" name="lgpd" required>
                                    <label for="lgpd">
                                        De acordo com as Leis 12.965/2014 e 13.709/2018, que regulam o uso da Internet e 
                                        o tratamento de dados pessoais no Brasil, ao me inscrever autorizo Grupo Barbosa 
                                        e Cia. a enviar notificações por e-mail ou outros meios e concordo com sua 
                                        Política de Privacidade.
                                    </label>
                                </span>
                            </div>

                            <input type="submit" class="botao" value="CONFIRMAR INSCRIÇÃO">
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="second">
            <div class="disclaimer-header">
                <h2>O que é a semana do HTML e CSS?</h2>
            </div>
        </section>

        <section class="third">
            <div class="disclaimer-content">
                <div class="container-paragrafos">
                    <div class="paragrafos">
                        <p class="primeiro-paragrafo">
                            A Semana do HTML e CSS é uma iniciativa do Grupo Barbosa e Cia. onde durante
                            uma semana inteira, iremos desenvolver junto a você 5 projetos utilizando
                            HTML e CSS, ensinando desde as bases dessas tecnologias, até coisas mais avançadas,
                            para que você possa iniciar sua carreira na tecnologia já tendo alguns projetos em
                            seu portifólio.
                        </p>

                        <p class="segundo-paragrafo">
                            E o melhor de tudo! Tudo isso de forma GRATUITA!
                        </p>
                    </div>
                </div>

                <img src="/images/imagem2.jpg" alt="Código html">
            </div>
        </section>
    </div>
</body>
</html>